.videoDetail_container {
    display: flex;
    margin-top: 74px;
}

.videoDetail_preview_container {
    flex: 3;
    margin: 8px;
}
.videoDetail_preview_react_player {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 50%;
}
.react-player {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.videoDetail_videos_container {
    flex: 1;
    max-height: calc(100vh - var(--header-height));
    overflow-y: auto;
}
.videoDetail_videos_container::-webkit-scrollbar {
    width: 5px;
}

.videoDetail_videos_container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.videoDetail_videos_container::-webkit-scrollbar-track {
    background-color: transparent;
}
.videoDetail_preview_name {
    color: var(--white-color);
    font-size: 24px;
    line-height: 1.7;
    margin-top: 12px;
    font-weight: bold;
}
.videoDetail_preview_channel_count_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}

.videoDetail_preview_channel_text {
    color: gray;
    font-weight: bold;
    font-size: 17px;
}

.videoDetail_preview_count_actions {
    display: flex;
    font-weight: bold;
    margin: 10px 0;
}

.mr8 {
    margin-right: 8px;
}

.videoDetail_preview_description {
    color: gray;
    font-size: 17px;
    line-height: 1.8;
    margin-top: 12px;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 10px;
    word-break: break-all;
}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .videoDetail_preview_react_player {
        padding-bottom: 100%;
    }
}

/* MOBILE */
@media (max-width: 46.25em) {
    .videoDetail_container {
        flex-direction: column;
    }
    .videoDetail_preview_react_player {
        padding-bottom: 100%;
    }
}
